<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <style>
      html, body, div {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        font: normal 16px/24px Helvetica Neue, Helvetica, sans-serif;
        color: #333;
      }
      #main {
        max-width: 630px;
        margin: 3em auto;
      }
      .bookmarklet {
        display: inline-block;
        padding: .5em 1em;
        color: #fff;
        background: #50dcf3;
        border-radius: 4px;
        text-decoration: none;
      }
      a {
        color: #50dcf3;
      }
      .dim {
        color: #999;
      }
      .bookmarkContainer {
        padding: 30px;
      }
    </style>
  </head>
  <body>
    <div id="main">
      <h1>{{pageTitle}}</h1>
      {{#if author}}
        <p>By: {{author}}</p>
      {{/if}}
      <div class="bookmarkContainer">
        <p>
          <a class="bookmarklet" href="{{bookmarkletCode}}">{{linkName}}</a>
        </p> 
        <p>
          Drag this button to your bookmarks bar to save it as a bookmarklet.
        </p>
      </div>
      {{#if repo}}
        <p>See source at <br> <a href="{{repo}}">{{repo}}</a></p>
      {{/if}}
    </div>
  </body>
</html>
